@variables cellVar{
    side: 24px;
}

root { 
    display: block;
}

body{
    text-align: center;
}

div{
    display:inline-block;
}

.cell{
    display:block;
    float:left;
    border: 0.5px solid gray;
    width: 24px;
    height:24px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-shadow: yellow 0.1em 0.1em 0.2em;
}

.aisle{
    float:left;
    background: white;
}

.verAisle{
/*    height: 24px;
    width: 5px;*/
    height: 0px;
    width: 0px;
}

.horAisle{
    height: 0px;
    width: 0px;
/*    height: 5px;
    width: 29px;*/
}

.horAisleFiller{
    height: 0px;
    width: 0px;
/*    height: 5px;
    width: 5px;*/
}

/* cells yet not clicked by user*/
.cellYellow{
    background: black;
}

/* bomb cells*/
.cellRed{
    background: red;
}

/* empty cells*/
.cellGray{
    background: gray;
}

/* flag cells*/
.cellBlue{
    background-color: orange;
}

.cellYellow:hover{
    background-color: #F7BE81;
}

.rowbreak{
    clear: both;
    display: block;
}

#map-wrapper{
    margin: auto;
    text-align: center;
}

.blocked{
    display:block;
}

#dashboard{
    margin-top: 30px;
    display: inline-block;
    background: url("img/board.jpg") repeat;
    padding: 20px;
    color: #F7D358;
}

#clock{
    color: #80FF00;
    font-size: 12px;
    font-style: italic;
    
}

#status{
    margin: 10px auto auto auto;
    font-size: 10px;
    
}

#flag{
    font-size: 10px;
    margin: auto 10px auto 10px;
}
